nav ul li a { 
    margin-left: 30px;  
    margin-right: 30px; 
    font-size: 30px;
    font-weight: 900;
    
  }
  .outer{
    width:100%;
  
  }
 
  .name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.hello{
    font-size: 65px;
    font-family: 'Source Code Pro', monospace;
    
}
.about{
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
}

@media only screen and (max-width:600px){
    .about{
        font-size: 20px;
        font-family: 'Source Code Pro', monospace;
    }
    .hello{
        font-size: 40px;
    }
    .name{
        font-size: 30px;
    }
}
@media only screen and (min-width:600px){
img{
    width: 500px;
}
}
.outer{
    background-color: #54456b;
    color: white;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: #54456b;;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}